/* 响应式字体，根元素字体为浏览器默认大小（16rem）的 62.5% (10rem)*/

html {
    font-size: 62.5%;
}

/* 内容区 */

.container {
    background-color: #f7f7f7;
    width: 100%;
}

/* 绿色横幅区 */

.banner {
    padding: 15.2rem 0 11.2rem;
    position: relative;
    background-color: #2aae67;
    clip-path: ellipse(100% 100% at top center);
}

/* 内容区 */

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    animation: 1s fromBottom ease-out;
    overflow: hidden;
}

/* 进入动画 */

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 微信logo */

.banner__logo {
    width: 18.1rem;
    height: 5.8rem;
    margin-bottom: 5.6rem;
    background-size: cover;
}

/* 更新列表 */

.banner__update-log {
    width: 50rem;
    padding-top: 2.4rem;
    border-top: .1rem solid hsla(0, 0%, 100%, .2);
}

.banner__update-content,
.banner__update-more,
.banner__update-time {
    color: hsla(0, 0%, 100%, .9);
    font-size: 2rem;
}

.banner__update-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.banner__update-time {
    color: hsla(0, 0%, 100%, .7);
}

.banner__update-more {
    display: inline-block;
    margin-top: 1.6rem;
}

/* 圆形按钮列表 */

.banner__download {
    width: 76rem;
    padding: 7.2rem 0 0 3.2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.banner__download-item {
    display: inline-block;
    height: 12rem;
    width: 12rem;
    background-color: hsla(0, 0%, 100%, .07);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3.2rem;
}

.banner__download-item:hover {
    background-color: hsla(0, 0%, 100%, .15);
}


.banner__download-item i {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    margin: 2.6rem 0 .4rem;
}

.banner__download-item span {
    display: inline-block;
    width: 8.4rem;
    text-align: center;
    color: hsla(0, 0%, 100%, .9);
    font-size: 1.4rem;
    line-height: 1.4;
}

/* 矩形按钮列表 */

.banner__extra-edition {
    width: 71.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5.6rem;
}

.banner__extra-item {
    width: 21.7rem;
    height: 5.6rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .07);
    color: hsla(0, 0%, 100%, .9);
    font-size: 1.6rem;
}

.banner__extra-item:hover {
    background-color: hsla(0, 0%, 100%, .15);
}

.banner__extra-item i {
    height: 3.2rem;
    width: 3.2rem;
    background-size: cover;
    margin-right: .8rem;
}

/* 语言切换 */

.banner__language-change {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
}

.banner__language-item {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.3rem;
    color: hsla(0, 0%, 100%, .6);
    padding: 0 .8rem;
    transition: color .3s;
}

.banner__language-item:hover {
    color: hsla(0, 0%, 100%, .9);
}

.banner__language-item:last-child {
    border-left: .1rem solid hsla(0, 0%, 100%, .3);
}

/* 向下箭头 */

@keyframes arrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
        transform: translateY(.8rem);
    }
}

.banner__arrow {
    width: 2.4rem;
    height: 1.2rem;
    position: absolute;
    left: 50%;
    bottom: 4rem;
    translate: -50%;
    background-size: cover;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
}

/* 正方形卡片 */

.links {
    width: 105.6rem;
    padding: 7.2rem 0 7.2rem 3.2rem;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    animation: 1s fromBottom ease-out;
}

.links__link-card {
    display: block;
    color: #000;
    background-color: #fff;
    width: 23.2rem;
    height: 19.6rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3.2rem 3.2rem 0;
    font-size: 2rem;
    font-family: 'weixin-test';
    transition: all 0.3s ease;
}

.links__link-card:hover {
    scale: 1.1;
}

.links__link-card i {
    display: block;
    height: 4rem;
    width: 4rem;
    background-size: cover;
    margin-bottom: 1.6rem;
}

/* 底部栏 */

.footer {
    padding: 4rem 0 3.2rem;
}

.footer__links {
    margin-bottom: .8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .7);
}

.footer__links a {
    margin: 0 1rem;
}

:where(.footer__links) a,
span {
    color: hsla(0, 0%, 0%, .7)
}

.footer a:hover {
    text-decoration: underline;
}

.footer__record a,
.footer__copyright {
    color: rgba(0, 0, 0, .4);
    font-size: 1.2rem;
}

.footer__record,
.footer__copyright {
    text-align: center;
}

.footer__copyright {
    margin-top: .2rem;
}