/* 内容区 */

.container {
    background-color: #f7f7f7;
    width: 100%;
}

/* 绿色横幅区 */

.banner {
    padding: 152px 0 112px;
    position: relative;
    background-color: #2aae67;
    clip-path: ellipse(100% 100% at top center);
}

/* 内容区 */

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    animation: 1s fromBottom ease-out;
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 微信logo */

.banner__logo {
    width: 181px;
    height: 58px;
    margin-bottom: 56px;
    background-size: cover;
}

/* 更新列表 */

.banner__update-log {
    width: 500px;
    padding-top: 24px;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
}

.banner__update-content,
.banner__update-more,
.banner__update-time {
    color: hsla(0, 0%, 100%, .9);
    font-size: 20px;
}

.banner__update-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.banner__update-time {
    color: hsla(0, 0%, 100%, .7);
}

.banner__update-more {
    display: inline-block;
    margin-top: 16px;
}

/* 圆形按钮列表 */

.banner__download {
    width: 760px;
    padding: 72px 0 0 32px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.banner__download-item {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: hsla(0, 0%, 100%, .07);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 32px;
}

.banner__download-item:hover {
    background-color: hsla(0, 0%, 100%, .15);
}


.banner__download-item i {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 26px 0 4px;
}

.banner__download-item span {
    display: inline-block;
    width: 84px;
    text-align: center;
    color: hsla(0, 0%, 100%, .9);
    font-size: 14px;
    line-height: 1.4;
}

/* 矩形按钮列表 */

.banner__extra-edition {
    width: 715px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 56px;
}

.banner__extra-item {
    width: 217px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .07);
    color: hsla(0, 0%, 100%, .9);
    font-size: 16px;
}

.banner__extra-item:hover {
    background-color: hsla(0, 0%, 100%, .15);
}

.banner__extra-item i {
    height: 32px;
    width: 32px;
    background-size: cover;
    margin-right: 8px;
}

/* 语言切换 */

.banner__language-change {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 1;
}

.banner__language-item {
    display: inline-block;
    height: 15px;
    line-height: 13px;
    color: hsla(0, 0%, 100%, .6);
    padding: 0 8px;
    transition: color .3s;
}

.banner__language-item:hover {
    color: hsla(0, 0%, 100%, .9);
}

.banner__language-item:last-child {
    border-left: 1px solid hsla(0, 0%, 100%, .3);
}

/* 向下箭头 */

@keyframes arrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .5;
        transform: translateY(8px);
    }
}

.banner__arrow {
    width: 24px;
    height: 12px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    translate: -50%;
    background-size: cover;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

/* 正方形卡片 */

.links {
    width: 1056px;
    padding: 72px 0 72px 32px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    animation: 1s fromBottom ease-out;
}

.links__link-card {
    display: block;
    background-color: #fff;
    width: 232px;
    height: 196px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 32px 32px 0;
    font-size: 20px;
    font-family: 'weixin-test';
    transition: all 0.3s ease;
}

.links__link-card:hover {
    scale: 1.1;
}

.links__link-card i {
    display: block;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-bottom: 16px;
}

/* 底部栏 */

.footer {
    padding: 40px 0 32px;
}

.footer__links {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
}

.footer__links a {
    margin: 0 10px;
}

:where(.footer__links) a,
span {
    color: hsla(0, 0%, 0%, .7)
}

.footer a:hover {
    text-decoration: underline;
}

.footer__record a,
.footer__copyright {
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
}

.footer__record,
.footer__copyright {
    text-align: center;
}

.footer__copyright {
    margin-top: 2px;
}