/* 大屏设备 */

@media (max-width: 1400px) {

    html {
        font-size: 52.5%;
    }

    /* 三列链接卡片 */
    .links {
        width: calc((23.2rem + 3.2rem) * 3);
    }
}

/* 中屏设备 */

@media (max-width: 830px) {

    html {
        font-size: 42.5%;
    }

    /* 绿色背景 */
    .banner {
        clip-path: ellipse(150% 100% at top center);
    }

    /* 两列链接卡片 */
    .links {
        width: calc((23.2rem + 3.2rem) * 2);
    }

    /* 三列下载按钮 */
    .banner__download {
        width: calc((12rem + 3.2rem) * 3);
    }

    .banner__download-item:nth-child(-n+3) {
        margin-bottom: 3.2rem;
    }

    /* 更新列表宽度保持一致 */
    .banner__update-log {
        width: calc(((12rem + 3.2rem) * 3) - 3.2rem);
    }

    /* 两列矩形按钮 */
    .banner__extra-edition {
        width: calc(((12rem + 3.2rem) * 3) - 3.2rem);
    }

    .banner__extra-item {
        width: calc(((((12rem + 3.2rem) * 3) - 3.2rem) - 3.2rem) / 2);
    }

    .banner__extra-item:nth-child(-n+2) {
        margin-bottom: 3.2rem;
    }
}

/* 小屏设备 */

@media (max-width: 380px) {

    html {
        font-size: 32.5%;
    }

    /* 绿色背景 */
    .banner {
        clip-path: ellipse(200% 100% at top center);
    }

    /* 两列链接卡片，百分比宽度和边距 */
    .links {
        width: 100%;
        padding-left: 0;
    }

    .links__link-card {
        width: 38%;
        margin-bottom: 4%;
    }

    .links__link-card:nth-child(odd) {
        margin-left: 10%;
        margin-right: 4%;
    }

    .links__link-card:nth-child(even) {
        margin-right: 10%;
    }

    /* 更新日志部分设置百分比宽度 */
    .banner__update-log {
        width: 76%;
        margin: 0 12%;
    }
}