// SCSS混入插值

@mixin clearfix {

    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Normal style
1800 + :        Big desktop

$breakpoint 作为 mixin 的参数，其他地方调用： @include respond(phone)

断点的单位：媒体查询断点位置受用户字体大小影响，使用 em 而不是 rem 只因为有更好的兼容性
*/

@mixin respond($breackpoint) {
    @if $breackpoint ==phone {
        @media only screen and (max-width: 37.5em) {
            // <= 600px
            @content;
        }
    }

    @if $breackpoint ==tab-port {
        @media only screen and (max-width: 56.25em) {
            // <= 900px
            @content;
        }
    }

    @if $breackpoint ==tab-land {
        @media only screen and (max-width: 75em) {
            // <= 1200px
            @content;
        }
    }

    @if $breackpoint ==big-desktop {
        @media only screen and (min-width: 112.5em) {
            // >= 1800px
            @content;
        }
    }
}