.navigation {
    position: relative;

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }



    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        // 辐射渐变（从中心向四周）
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        // 贝塞尔曲线
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(tab-port) {
            top: 5rem;
            right: 5rem;
        }

        @include respond(phone) {
            top: 4rem;
            right: 4rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        // 隐藏列表
        opacity: 0;
        transform: translateX(-100vw);
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        @include absCenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            // linear-gradient 实现分割效果
            background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
            // 放大背景，让其一半可以遮住整个 link
            background-size: 220%;
            transition: all .2s;

            span {
                margin-right: 1rem;
            }
        }

        &:hover,
        &:active {
            // 向左移动背景：背景大于 100% 时，方向相反
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked~&__background {
        // 展开背景
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        // 展示列表
        opacity: 1;
        transform: translateX(0);
    }

    &__icon {
        @include absCenter;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    // 未展开的按钮 hover 动效
    :not(&__checkbox:checked)+&__button:hover &__icon::before {
        top: -1rem;
    }

    :not(&__checkbox:checked)+&__button:hover &__icon::after {
        top: 1rem;
    }

    // 展开后的按钮
    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    // 通过变换 2 个伪元素的位置让其成为 X
    &__checkbox:checked+&__button &__icon::before {
        transform: translateY(.8rem) rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        transform: translateY(-.8rem) rotate(-135deg);
    }

    // 展开后的按钮 hover 动效
    &__checkbox:checked+&__button:hover &__icon::before {
        transform: translateY(.8rem) rotate(135deg) scale(1.1);
    }

    &__checkbox:checked+&__button:hover &__icon::after {
        transform: translateY(-.8rem) rotate(-135deg) scale(1.1);
    }
}